.add-device-structure{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
.add-device-structure *{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ladd-device-structure label {
    font-weight: bolder;
    box-sizing: border-box;
}
.add-device-structure input {
    width: 300px;
    height: 30px;
}
.add-device-structure button {
    
    width: 300px;
    height: 30px;
}
