:root{
    --primary: #FEFEFA;
    --whiteAsPicture: rgba(255, 255, 255, 0.867);
    --red: rgb(89, 17, 17);
    --black: rgb(17, 3, 3);
    --shadow: 0 1px 5px rgb(203, 188, 188);
    --background: #FFFFF0;
}

.main-nav ul {
    display: grid;
    grid-gap: 0.5vw;;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.main-nav a {
    background: var(--primary);
    display: grid;
    text-decoration:  none;
    padding: 0;
    text-align: center;
    color: var(--red);
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--black); 
    color: var(--primary);
}

.login  {
    text-align: right;
    color: var(--black);
    font-weight: bolder;
}
.login input {
    box-shadow: var(--shadow);
    color: var(--red);
    font-weight: bolder;
}
.signup {
    font-weight: normal;
}
.signup button:hover {
    background: var(--black); 
    color: var(--background);
}
.login button {
    cursor: pointer;
    background: var(--primary);
    font-weight: 600;
    box-shadow: var(--shadow);
}

.login button:hover {
    background: var(--black); 
    color: var(--background);
}


@media screen and (max-width: 800px){
    .main-nav ul {
        grid-gap: 2vw;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 320px){
    .main-nav ul {
        grid-template-columns: repeat(1,1fr);
    }
}
