.navbar-main {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #83B4B3;
    height: 10vh;
  }
  .logo {
    font-weight: bolder;
    font-size: 2rem;
    padding: 2rem;
    font-family: "Comic Sans MS", Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .spacing {
    flex: 0.95;
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
  }

  .navbar-main{
    color: #FFF0CE;
    display: flex;
    height: 4rem;
    align-items: center;
    padding: 0 1rem; 
  }
  .navbar-items ul{
    list-style: none;
    margin: o;
    padding: 0;
    display: flex;

  }
  .navbar-items *{
    color: #FFF0CE;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    padding: 0.2rem;
  }


  
  .navbar-items a:hover,
  .navbar-items a:active {
    color: darkgreen;
  }