:root{
    --primary: #FEFEFA;
    --whiteAsPicture: rgba(255, 255, 255, 0.867);
    --red: rgb(89, 17, 17);
    --black: rgb(17, 3, 3);
    --shadow: 0 1px 5px rgb(203, 188, 188);
    --background: #FFFFF0;
}

html{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--red);
}

body{
    background: var(--background);
    margin: 3vw;
    line-height: 1.4;
    text-align:left;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    box-shadow: var(--shadow);
    margin: 1vw;
}

.wrapper  {
    display: grid;
    grid-gap: 1vw;
}


.title {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;    
}
.ingredients::first-line {
    text-transform: uppercase;
}

.ingredients {
    margin: 0 auto;
    box-shadow: var(--shadow);
    background: var(--whiteAsPicture);
    width:25vw;
    padding: 0;
    text-align: left;
    font-weight: 600; 
}
.ing::before {
    content: "•";
    padding-right: 4px;
}

.directions::first-line{
    text-transform: uppercase;
}
.directions{
    margin: 0 auto;
    box-shadow: var(--shadow);
    background: var(--whiteAsPicture);
    width:25vw;
    padding: 0;
    text-align: left;
    font-weight: 600; 
}

.dir::before {
    content: "•";
    padding-right: 4px;
}

.comments {
    margin: 0 auto;
    width:25vw;
    padding: 2vw;
    resize: none;
    text-align: left; 
}

.all-comments {
    box-shadow: var(--shadow);
    background: var(--primary);
    border-radius: 4px;
    padding: 0.5vw;
    word-wrap:break-word;
}
.text-for-comment {
    font-weight: bolder;
    background:var(--whiteAsPicture);
    box-shadow: var(--shadow);
    width:22vw;
    height: 10vw;

}

.delete-btn {
    cursor: pointer;
    background: var(--primary);
    font-weight: 600;
    box-shadow: var(--shadow);
}

.image {
    grid-area: img;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


@media screen and (max-width: 800px){
    .ingredients {
        width:80vw;
    }
    
    .directions{
        width:80vw;
    }
    
    .comments {
        width:80vw;
    }
    .image {
        width: 50%;
    }
    .text-for-comment {
        width:80vw;
    }

}

@media screen and (max-width: 320px){
    .ingredients {
        width:80vw;
        font-size: 5vw;  
    }
    
    .directions{
        width:80vw;
        font-size: 5vw; 
    }
    
    .comments {
        margin: 0 auto;
        width:80vw;
    }
    .image {
        width:100%;
    }
    .text-for-comment {
        width:80vw;
    }


    }