<ifmodule mod_expires.c>
    ExpiresActive On
    ExpiresByType resources/css "access plus 1 day"
    ExpiresByType Tasty/Meat/View/ballPage "access plus 600 seconds"
    ExpiresByType Tasty/View/PancakePage "access plus 600 seconds"
    ExpiresDefault "access plus 0 days"
</ifmodule>

<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>